server:
  service:
    type: ClusterIP
  extraArgs:
    - --insecure
configs:
  params:
    server.insecure: "true"
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - argocd.example.com
    paths:
      - /